
<h1>
create new user
</h1>



<%= form_for @user, url: admin_users_path do |form| %>
<p>
  <%= form.label 'User Name' %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label 'User email' %>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label 'Description:' %>
</p>
<p>
  <%= form.text_area :description, size: "60x12" %>
</p>
<p>
  <%= form.label 'our manager' %>
  <%= form.text_field :manager %>
</p>
  
  
<p>
  <%= form.submit 'Create' %>
</p>
<% end %>
